doctype html
html
  head
    title Mi Aplicación
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body
    // Encabezado centrado
    div(class="container mt-3 text-center")
      h1 Laboratorio 15

    // Barra de navegación centrada
    div(class="container")
      nav(class="navbar navbar-expand-lg navbar-light bg-light justify-content-center")
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link" href="/cursos") Cursos
          li(class="nav-item")
            a(class="nav-link" href="/alumnos") Alumnos
          li(class="nav-item")
            a(class="nav-link" href="/alumnosCursos") Alumnos y Cursos

    // Contenido dinámico centrado
    div(class="container mt-3")
      block content

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
